@import url('https://fonts.googleapis.com/css?family=Raleway:400');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400');
@import url('https://fonts.googleapis.com/css?family=El+Messiri:400');
body {
  font-family: 'Raleway', 'Noto Sans TC', Helvetica, Arial, 'LiHei Pro', DFKai-sb, sans-serif;
  font-weight: 400!important;
  margin: 0 auto;
  background-color: #fcfcfc;
}

.my-font1 {
  font-family: 'El Messiri', 'Noto Sans TC', Helvetica, Arial, 'LiHei Pro', DFKai-sb, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* 去除超連結樣式 */

a {
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* Loader Part*/

#my-loader {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c1b44;
  z-index: 99999;
  animation-name: LoaderfadeOut;
  animation-delay: 9s;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* JS失效時使用*/

@keyframes LoaderfadeOut {
  from {}
  to {
    opacity: 0;
    display: none;
    z-index: -999;
  }
}

.my-loader-box {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#my-loader .spinner {
  width: 50px;
  height: 50px;
  background-color: #fff;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1s infinite ease-in-out;
  animation: sk-rotateplane 1s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* Navbar Part */

#my-navbar {
  background-color: #FCFCFCA0;
  color: #0c1b43;
  border-bottom: 0.5px solid #fcfcfcA0;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 9999;
  transition-duration: .5s;
  -moz-transition-duration: .5s;
  /* Firefox 4 */
  -webkit-transition-duration: .5s;
  /* Safari 和 Chrome */
  -o-transition-duration: .5s;
  /* Opera */
  visibility: hidden;
  opacity: 0;
}

.my-navbar-toggler {
  border: none;
  background: transparent;
  padding: 6px;
}

.my-navbar-toggler:focus {
  outline: none;
  background: transparent;
}

.my-navbar-toggler .icon-bar {
  background-color: #0c1b43;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .5s;
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 1px;
}

.my-navbar-toggler .icon-bar+.icon-bar {
  /*間隔空間*/
  margin-top: 5px;
}

.my-navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: ease all .5s;
}

.my-navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .5s;
}

.my-navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: ease all .5s;
}

.my-navbar-logobox {
  position: relative;
  display: inline-block;
  height: 36px;
}

.my-navbar-linkedin-box {
  display: inline-block;
  width: 30px;
  margin-top: 1.3rem;
}

.my-navbar-logobox svg {
  position: absolute;
  top: 16%;
  height: 90%;
}

.my-navbar-linkedin-box svg {
  vertical-align: middle;
  height: 100%;
}

.my-navbar-logobox svg path, .my-navbar-linkedin-box svg path {
  fill: #0c1b43;
  transition: all 0.5s ease;
}

.mynavitem-bigbox {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 99;
}

#mynavitem {
  color: #0c1b43;
  font-size: 1.5rem;
  font-weight: 100
}

.mynavitem-box {
  height: 100vh;
}

.mynavitem-box-bar {
  margin: auto;
  top: 30%;
  position: relative;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.mynavitem-box-bar .mynavitem-box {
  font-size: 0.9rem;
  padding-top: 5rem;
}

.mynavitem-box-bar .mynavitem-box .mynavitem-box-eng {
  color: #999;
  margin-bottom: 0rem;
}

.mynavitem-box-bar .mynavitem-box .mynavitem-box-engcs {
  color: #999;
  font-size: 0.6rem;
}

#mynavitem .nav-item {
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

#mynavitem .nav-item:hover {
  -webkit-transform: translateY(-3px) scale(1.5, 1.5) rotateX(360deg);
  transform: translateY(-3px) scale(1.5, 1.5) rotateX(360deg);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

#mynavbg {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: #FCFCFCF0;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  top: -300px;
  right: -300px;
  z-index: -1;
}

.mynavbg-show {
  opacity: 1;
  -webkit-transform: scale(8);
  transform: scale(8);
}

.mynavbg-hide {
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* Top Part */

#my-top {
  width: 100%;
}

.my-top-box {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0 1rem 0;
  color: #0c1b44;
  overflow: hidden;
  background: url(../pic/topbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-top-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f5f5f5;
  -webkit-transition-duration: .7s;
  transition-duration: .7s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.my-top-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -99;
}

.my-top-bgcover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  opacity: 1;
  z-index: -9;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.my-top-imgbox {
  flex: 1 1 25%;
}

.my-top-imgbox-img {
  border: #ffffff00 3px double;
  width: 100%;
  max-width: 180px;
  border-radius: 100%;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.my-top-textbox {
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  font-size: 0.8rem;
}

/*top ani setting*/

.showbg {
  /*check click or not*/
}

.my-top-bgcover-showbg {
  opacity: 0;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.my-top-flexbox-showbg {
  margin: 20vh auto 30vh auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.my-top-imgbox-img-showbg {
  border: #f5f5f5 3px double;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/*Art, Hobby Part */

#my-art {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0 3rem 0;
  color: #000;
  background-color: #f5f5f5;
}

.my-art-hr {
  background-color: #0c1b44;
  height: 1.5px;
  width: 70%;
  max-width: 1200;
  display: block;
  margin: 2rem auto 0 auto;
  content: ' ';
}

.my-art-title {
  padding: 3rem 15px 1rem 15px;
  color: #0c1b44;
  width: 70%;
  max-width: 1200px;
  font-size: 0.9rem;
  margin: 0 auto;
}

.my-art-title h1 {
  color: #0c1b44;
}

.my-art-box {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 15px 3rem 15px;
}

.my-art-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fafafa;
  box-shadow: 7px 8px 4px -5px #0a0a0a87;
  color: #444;
  border-radius: 3px;
  border: #ddd 0.5px solid;
  overflow: hidden;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.my-art-flexbox:hover {
  -webkit-transform: translate(-2px, -4px) scale(1.01);
  transform: translate(-1px, -4px) scale(1.01);
  box-shadow: 14px 16.5px 5px -7px #0a0a0a87;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.my-art-imgbox {
  flex: 1 1 40%;
}

.my-art-textbox {
  flex: 1 1 55%;
  padding: 1.5rem 1.5rem 2rem 1rem;
  font-size: 0.9rem;
}

.my-art-box-date {
  float: right;
  margin: 0.7rem 0 0.5rem 0;
  font-size: 0.9rem;
}

.my-art-box h5 {
  padding: 0.5rem 0;
  color: #000;
}

.my-art-box h5::after {
  background-color: #000;
  height: 0.7px;
  width: 98%;
  display: block;
  margin: 0.5rem auto 0 auto;
  content: ' ';
}

.my-art-box ul {
  padding-left: 20px;
  margin: 0;
}

.my-art-box ol {
  padding-left: 18px;
}

.my-art-textbox a {
  color: #000;
}

.my-hooby-textbox {
  font-size: 1rem;
  width: 100%;
  max-width: 600px;
}

.my-hooby-textbox h5 {
  padding: 30px 15px;
}

.my-hooby-textbox p {
  padding: 0 15px;
}

.my-hooby-textbox p:after {
  background-color: #fff;
  height: 0.7px;
  width: 35%;
  display: block;
  content: ' ';
}

.my-hobby-imgbox {
  max-width: 600px;
  width: 100%;
  padding-bottom: 2rem;
}

.my-hobby-youtube {
  width: 80%;
  max-width: 200px;
  margin: 4rem auto 6rem auto;
}

/*Video & Slider Part */

.my-video {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.my-video-box {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  /*16:9*/
  overflow: hidden;
}

.my-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.my-slider {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.my-slider .swiper-pagination {
  position: relative;
  width: 100%;
  padding-top: 8px;
}

.my-slider .swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  margin: 3px;
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 100%;
  background: #0c1b44;
  opacity: 0.3;
}

.my-slider .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #0c1b44;
}

.my-slider .swiper-container .show {
  opacity: 1;
}

.my-slider .swiper-button-next, .my-slider .swiper-button-prev {
  transition: opacity .3s;
  opacity: 0;
}

/*Footer Part*/

#my-footer {
  background-color: #0b1b43;
  color: white;
  padding-top: 50px;
}

.my-footer-text {
  font-size: 10px;
  padding: 10px 0 10px 0;
}

.my-footer-svgbox {
  width: 65%;
  max-width: 350px;
  margin: 30px auto;
}

.my-footer-svgbox svg path {
  fill: #FFF;
  transition: all .5s ease;
}

.my-footer-svgbox svg:hover path {
  fill: #f0cbc2;
  transition: all .5s ease;
}

/*自訂animate*/

.runani {}

.runani-hide {
  opacity: 0;
}

@-webkit-keyframes my-fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes my-fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.my-fadeInUp {
  -webkit-animation-name: my-fadeInUp;
  animation-name: my-fadeInUp;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes my-fadeHr {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 68%;
  }
}

@-webkit-keyframes my-fadeHr {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 68%;
  }
}

.my-fadeHr {
  -webkit-animation-name: my-fadeHr;
  animation-name: my-fadeHr;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@media (max-width: 991.98px) {
  .my-top-box {
    padding: 2.5rem 0 1.5rem 0;
  }
  .my-top-flexbox-showbg {
    margin: 0 auto;
  }
  .my-top-imgbox, .my-top-textbox {
    flex: 1 1 99%;
    text-align: center;
  }
  .my-art-imgbox, .my-art-textbox {
    flex: 1 1 99%;
  }
  .my-art-title, .my-art-flexbox, .my-top-flexbox {
    width: 100%;
  }
  .my-art-textbox {
    padding: 1.5rem 1.25rem 2rem 1.25rem;
  }
}

/*開發用*
@media (min-width: 992px) {

  body , #my-navbar, #mynavitem{
    max-width: 1200px;
    width: 40%;
  }
  .my-art-box + .my-art-box{
  margin-top: 5rem;
}
.my-art-box{

 flex: 1 1 100%;
}
}/